<div class="following-grid-wrapper">
  {{! Bulk Select Controls - Only show when Native Bulk Mode is active }}
  {{#if this.bulkSelectEnabled}}
  <div class="bulk-select-controls">
    <div class="bulk-controls-left">
      {{#if this.hasSelection}}
      {{! Bulk Actions Dropdown }}
      <details class="bulk-actions-dropdown">
        <summary>
          {{theme-i18n "following_grid.bulk_actions.label"}}
        </summary>
        <ul class="bulk-actions-menu">
          {{! Actions }}
          <li>
            <button {{on "click" this.bulkFollow}}>
              {{d-icon "user-plus"}}
              <span>{{theme-i18n "following_grid.bulk_actions.follow_all"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkUnfollow}}>
              {{d-icon "user-times"}}
              <span>{{theme-i18n "following_grid.bulk_actions.unfollow_all"}}</span>
            </button>
          </li>

          <li class="divider"></li>

          {{! Manage Actions }}
          <li>
            <button {{on "click" this.bulkUpdateCategory}}>
              {{d-icon "pencil-alt"}}
              <span>{{theme-i18n "following_grid.bulk_actions.update_category"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkUpdateNotifications}}>
              {{d-icon "bell"}}
              <span>{{theme-i18n "following_grid.bulk_actions.update_notifications"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkResetBumpDate}}>
              {{d-icon "anchor"}}
              <span>{{theme-i18n "following_grid.bulk_actions.reset_bump_date"}}</span>
            </button>
          </li>

          <li class="divider"></li>

          {{! State Actions }}
          <li>
            <button {{on "click" this.bulkClose}}>
              {{d-icon "lock"}}
              <span>{{theme-i18n "following_grid.bulk_actions.close_topics"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkArchive}}>
              {{d-icon "archive"}}
              <span>{{theme-i18n "following_grid.bulk_actions.archive_topics"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkUnlist}}>
              {{d-icon "eye-slash"}}
              <span>{{theme-i18n "following_grid.bulk_actions.unlist_topics"}}</span>
            </button>
          </li>

          <li class="divider"></li>

          {{! Tag Actions }}
          <li>
            <button {{on "click" this.bulkAppendTags}}>
              {{d-icon "tag"}}
              <span>{{theme-i18n "following_grid.bulk_actions.append_tags"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkReplaceTags}}>
              {{d-icon "tags"}}
              <span>{{theme-i18n "following_grid.bulk_actions.replace_tags"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkRemoveTags}}>
              {{d-icon "eraser"}}
              <span>{{theme-i18n "following_grid.bulk_actions.remove_tags"}}</span>
            </button>
          </li>

          <li class="divider"></li>

          {{! Destructive }}
          <li>
            <button {{on "click" this.bulkDelete}} class="btn-danger">
              {{d-icon "trash-alt"}}
              <span>{{theme-i18n "following_grid.bulk_actions.delete_topics"}}</span>
            </button>
          </li>
        </ul>
      </details>
      <span class="selection-count">{{theme-i18n "following_grid.selected_count" count=this.selectedCount}}</span>
      {{/if}}
      <button class="btn-select-all" {{on "click" this.selectAll}}>{{theme-i18n "following_grid.select_all"}}</button>
      <button class="btn-clear-all" {{on "click" this.clearAll}}>{{theme-i18n
        "following_grid.clear_all_short"}}</button>
    </div>

    <div class="bulk-controls-right">
      <button class="btn-bulk-select-toggle" {{on "click" this.toggleBulkSelect}}>
        {{d-icon "times"}}
        <span>{{theme-i18n "following_grid.cancel_bulk_select"}}</span>
      </button>
    </div>
  </div>
  {{else}}
  <div class="following-grid-header">
    <h2>{{theme-i18n "following_grid.title"}}</h2>
    <button class="btn-default bulk-select-btn" {{on "click" this.toggleBulkSelect}}>
      {{d-icon "list"}}
      <span>{{theme-i18n "following_grid.bulk_select"}}</span>
    </button>
  </div>
  {{/if}}

  {{! Grid Container }}
  <div class="following-grid-container">
    {{#each this.gridItems as |item|}}
    <div class="following-card-wrapper">
      <div class="following-card {{if item.isSelected 'selected'}} {{if this.bulkSelectEnabled 'bulk-mode'}}"
        role="button" {{on "click" (fn this.visit item)}}>
        {{! Bulk Select Checkbox - Top Left - Show when Native Mode is Enabled }}
        {{#if item.showCheckbox}}
        <input type="checkbox" class="card-select-checkbox" checked={{item.isSelected}} {{on "click" (fn
          this.toggleSelection item.topic)}} />
        {{/if}}

        {{! Dynamic Gradient Header }}
        <div class="card-gradient-header" style={{html-safe (concat "background: " item.gradientStyle)}}></div>

        <div class="card-content">
          {{! Thumbnail (was Avatar) }}
          <div class="card-thumbnail-container">
            <img alt={{item.title}} class="card-thumbnail" src={{item.thumbnailUrl}} />
          </div>

          {{! Name }}
          <h2 class="card-name">
            {{item.displayName}}
          </h2>

          {{! Badge/Tag }}
          {{! Tags List with Drag-to-Scroll }}
          <div class="card-tags-list" {{on "mousedown" this.onTagsMouseDown}} {{on "mouseleave" this.onTagsMouseLeave}}
            {{on "mouseup" this.onTagsMouseUp}} {{on "mousemove" this.onTagsMouseMove}} {{on "click" this.onTagsClick}}>
            {{#each item.tags as |tag|}}
            <span class="card-tag" role="button" data-url={{tag.url}}>{{tag.name}}</span>
            {{/each}}
          </div>

          {{! Description/Excerpt }}
          <p class="card-description">
            {{item.displayDescription}}
          </p>
        </div>

        {{! Footer / Actions }}
        <div class="card-footer">
          {{! Vote Action Button (Left) }}
          <button class="btn-vote-action {{if item.topic.user_voted 'voted'}}" {{on "click" (fn this.toggleVote item)}}
            title={{if item.topic.user_voted item.votedBtnText item.voteBtnText }}>
            {{#if item.topic.user_voted}}
            {{d-icon "check"}}
            <span>{{item.votedBtnText}}</span>
            {{else}}
            {{d-icon "user-plus"}}
            <span>{{item.voteBtnText}}</span>
            {{/if}}
          </button>

          {{! Vote Count Display (Right) }}
          <div class="vote-count-display" title="Total Votes">
            {{d-icon "arrow-up"}}
            <span class="count">{{item.topic.vote_count}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>