<div class="following-grid-wrapper">
  {{! Bulk Select Controls - Only show when Native Bulk Mode is active }}
  {{#if this.bulkSelectEnabled}}
  <div class="bulk-select-controls">
    <div class="bulk-controls-left">
      {{#if this.hasSelection}}
      {{! Bulk Actions Dropdown }}
      <details class="bulk-actions-dropdown">
        <summary>{{d-icon "wrench"}}</summary>
        <ul>
          {{! New Actions }}
          <li>
            <button {{on "click" this.bulkClose}}>
              {{d-icon "lock"}}
              <span>{{i18n "category_following.bulk_actions.close_topics"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkArchive}}>
              {{d-icon "archive"}}
              <span>{{i18n "category_following.bulk_actions.archive_topics"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkUnlist}}>
              {{d-icon "eye-slash"}}
              <span>{{i18n "category_following.bulk_actions.unlist_topics"}}</span>
            </button>
          </li>
          <li>
            <button {{on "click" this.bulkDelete}} class="btn-danger">
              {{d-icon "trash-alt"}}
              <span>{{i18n "category_following.bulk_actions.delete_topics"}}</span>
            </button>
          </li>
        </ul>
      </details>
      <span class="selection-count">{{this.selectedCount}} selected</span>
      {{/if}}
    </div>
    <div class="bulk-controls-right">
      <button class="btn-select-all btn-default" {{on "click" this.selectAll}}>
        Select All
      </button>
      <button class="btn-clear-all btn-default" {{on "click" this.clearAll}}>
        Clear All
      </button>
    </div>
  </div>
  {{/if}}

  <div class="following-grid-header">
    <h2>{{i18n "following_grid.title"}}</h2>
    <DButton @icon="list" @action={{this.toggleBulkSelect}} @label={{if
      this.bulkSelectEnabled "following_grid.cancel_bulk_select" "following_grid.bulk_select" }}
      class="btn-default bulk-select-btn" />
  </div>

  {{! Grid Container }}
  <div class="following-grid-container">
    {{#each this.gridItems as |item|}}
    <div class="following-card-wrapper">
      <div class="following-card {{if item.isSelected 'selected'}} {{if this.bulkSelectEnabled 'bulk-mode'}}"
        role="button" {{on "click" (fn this.visit item)}}>
        {{! Bulk Select Checkbox - Top Left - Show when Native Mode is Enabled }}
        {{#if item.showCheckbox}}
        <input type="checkbox" class="card-select-checkbox" checked={{item.isSelected}} {{on "click" (fn
          this.toggleSelection item.topic)}} />
        {{/if}}

        {{! Dynamic Gradient Header }}
        <div class="card-gradient-header" style={{html-safe (concat "background: " item.gradientStyle)}}></div>

        <div class="card-content">
          {{! Thumbnail (was Avatar) }}
          <div class="card-thumbnail-container">
            <img alt={{item.title}} class="card-thumbnail" src={{item.thumbnailUrl}} />
          </div>

          {{! Name }}
          <h2 class="card-name">
            {{item.displayName}}
          </h2>

          {{! Badge/Tag }}
          {{! Tags List with Drag-to-Scroll }}
          <div class="card-tags-list" {{on "mousedown" this.onTagsMouseDown}} {{on "mouseleave" this.onTagsMouseLeave}}
            {{on "mouseup" this.onTagsMouseUp}} {{on "mousemove" this.onTagsMouseMove}} {{on "click" this.onTagsClick}}>
            {{#each item.tags as |tag|}}
            <span class="card-tag" role="button" data-url={{tag.url}}>{{tag.name}}</span>
            {{/each}}
          </div>

          {{! Description/Excerpt }}
          <p class="card-description">
            {{item.displayDescription}}
          </p>
        </div>

        {{! Footer / Actions }}
        <div class="card-footer">
          {{! Vote Action Button (Left) }}
          <button class="btn-vote-action {{if item.topic.user_voted 'voted'}}" {{on "click" (fn this.toggleVote item)}}
            title={{if item.topic.user_voted item.votedBtnText item.voteBtnText }}>
            {{#if item.topic.user_voted}}
            {{d-icon "check"}}
            <span>{{item.votedBtnText}}</span>
            {{else}}
            {{d-icon "user-plus"}}
            <span>{{item.voteBtnText}}</span>
            {{/if}}
          </button>

          {{! Vote Count Display (Right) }}
          <div class="vote-count-display" title="Total Votes">
            {{d-icon "arrow-up"}}
            <span class="count">{{item.topic.vote_count}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>